<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "content" }}
<div id="content">
    {{ template "productCard" . }}
</div>
<div id="overlay" display="contents"></div>
{{ end }}

{{ define "overlay" }}
<div id="overlay-wrapper">
    {{ template "productCard" . }}
</div>
{{ end }}

{{ define "productCard" }}
<div class="product-card" 
    {{ if .Overlay -}}
    @click.outside="history.back()"
    {{- end }}>
    {{ if .Overlay -}}
    <button class="close-button" @click="history.back()">
        <i class="fa-solid fa-xmark"></i>
    </button>
    {{ else -}}
    <a href="/{{ .LangTag }}/suppliers" style="display: contents;">
        <button class="close-button">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </a>
    {{ end -}}
    <div class="product-card-wrapper">
        <div class="left-column">
            {{- range .Images }}
            <img src="{{ . }}">
            {{ end }}     
            {{- if or .Description .BulletPoints -}}
            <div class="description">
                {{ with .Description -}}
                <div class="text">{{ . }}</div>
                {{- end }}
                {{- with .BulletPoints -}}
                <ol class="product-bullet-points">
                    {{ range . }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ol>
                {{- end  -}}
            </div>
            {{- end }}
        </div>
        <div class="right-column">
            <h1>{{ .Title }}</h1>
            <div class="product-quantity">{{ .QuantityText }}</div>
            {{- if .NutritionalValues -}}
            <hr>
            <div class="product-nutritional-values">
                <h3>{{ .ValuesQuantityText }}</h3>
                <ul>
                    {{ range .NutritionalValues }}
                    <li><b>{{ .Value }}</b><div>{{ .Name }}</div></li>
                    {{ end }}
                </ul>
            </div>
            <hr>
            {{- end }}
            {{ with .Details -}}
            <div class="details">
                {{- range . }}
                <div class="detail {{ .Class }}"><h3>{{ .Title }}</h3><p>{{ .Text }}</p></div>
                {{- end }}
            </div>
            {{- end }}
        </div>
    </div>
    {{ template "price-box" . }}
</div>
{{ end }}

{{ define "price-box" }}
<form class="product-price"
    :class="{ 'highlight': count > 0 }"
    {{ if .InlineQuantity -}}
    hx-post="/{{ .LangTag }}/shopping_cart/{{ .ID }}?in_card=true"
    {{ else -}}
    hx-post="/{{ .LangTag }}/shopping_cart/{{ .ID }}"
    {{ end -}}
    hx-trigger="change throttle:200ms"
    {{ if not .InlineQuantity -}}
    hx-target="closest .supplier-item"
    {{ end -}}
    hx-swap="outerHTML"
    x-data="{ intervalID: null, timeoutID: null{{ if .InlineQuantity }}, count: {{ .Quantity }}, max: {{ .Stock }}, price: {{ .Price }} {{ end }}}"
    x-init="$watch('count', () => {
        $dispatch('change');
        if (count == 0 || count == max) {
            clearInterval(intervalID);
            clearTimeout(timeoutID);
        }
    })">
    <button class="minus-button"x-show="count > 0" type="button"
        x-on:click="if (count>0) --count"
        x-on:mousedown="timeoutID = setTimeout(() => { 
          intervalID = setInterval(() => {if (count > 0) --count}, 80);
        }, 500)"
        x-on:mouseup="clearTimeout(timeoutID); clearInterval(intervalID)">
        <i class="fa-solid fa-minus"></i>
    </button>
    <input type="hidden" x-model="count" name="quantity"/>
    <input type="hidden" x-model="price" name="price"/>
    <input type="hidden" x-model="max" name="max"/>
    {{- if .InlineQuantity }}
    <span class="price" x-text='if (count > 0) { return count + " &#215; " + price + " €" } else { return price + " €" }'></span>
    {{ else }}
    <p class="price">{{ .Price }} €</p>
    {{ end -}}
    <button class="plus-button" @click="if (count<max) count++" @mousedown="timeoutID = setTimeout(() => { 
            intervalID = setInterval(() => {if (count<max) count++}, 80);
        }, 500)"
        @mouseup="clearTimeout(timeoutID); clearInterval(intervalID)"
      :class="{'inactive': count == max}" type="button">
        <i class="fa-solid fa-plus"></i>
    </button>
</form>
{{ end }}

{{ define "price-box-sold-out" }}
<div class="product-price">
    <p class="price">{{ .Text }}</p>
</div>
{{ end }}

<svg xmlns="http://www.w3.org/2000/svg" width="31" height="30" viewBox="0 0 31 30" fill="none">
    <path d="M16 2.2688V27.7554" stroke="#96B44B" stroke-width="4" stroke-linecap="round"/>
    <path d="M29 14.54L2 14.54" stroke="#96B44B" stroke-width="4" stroke-linecap="round"/>
</svg>

<span hx-post="/products/{{ .ID }}/dec" hx-swap="outerHTML" hx-target=".product-{{ .ID }} .product-price"></span>