<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{TITLE}}</title>
    <meta name="description" content="{{DESCRIPTION}}" key="description" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main id="app">
    </main>
    <footer>
        <div class="footer-column">
          <img src="img/logo.png">
        </div>
        <div class="footer-column">
          <a>Связаться с нами<a>
          <a>Политика конфиденциальности<a>
          <a>О нас</a>
        </div>
        <div class="footer-column">
          <a>Ответы на вопросы</a>
          <a>Помощь</a>
          <a>Я - фермер! Хочу сотрудничать</a>
        </div>
      </footer>
    </body>
</html>