<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "content" }}
<div id="content">
    {{ template "checkoutPage" . }}
</div>
<div id="overlay" display="contents"></div>
{{ end }}

{{ define "checkoutOverlay" }}
<div id="overlay-wrapper">
    {{ template "checkoutPage" . }}
</div>
{{ end }}

{{ define "checkoutPage" }}
{{ $LangTag := .LangTag }}
<div id="checkout-box">
    <div id="checkout-header">
        <h1>{{ .HeaderText }}</h1>
        {{ if .Overlay -}}
        <button class="close-button" @click="history.back()">
            <i class="fa-solid fa-xmark"></i>
        </button>
        {{ else -}}
        <a href="/{{ .LangTag }}/suppliers" style="display: contents;">
            <button class="close-button">
                <i class="fa-solid fa-xmark"></i>
            </button>
            </a>
        {{ end -}}
    </div>
    <ul id="checkout-items">
        {{ range $idx, $item := .Items }}
        <li x-data="{ count: {{ $item.Quantity }}, price: {{ printf "%.2f" $item.Price }}, max: {{ $item.Max }} }">
            <form hx-post="/{{ $LangTag }}/checkout/{{ $idx }}" hx-target="closest li" hx-swap="outerHTML"
            hx-trigger="submit, change throttle:300ms">
                <input type="hidden" id="price" name="price" x-model="price" value="{{ printf "%.2f" $item.Price }}">
                <input type="hidden" id="max" name="max" x-model="max" value="{{ $item.Max }}">
                <input type="number" id="quantity" name="quantity" min="1" 
                :max="max" max="{{ $item.Max }}" x-model="count" value="{{ $item.Quantity}}">
            </form>
            <img src="{{ $item.ImageURL }}">
            <span class="product-name">{{ $item.Name }}</span>
            <span class="product-price" x-text="'€'+(count*price).toFixed(2)">€{{ printf "%.2f" $item.TotalPrice }}</span>
        </li>
        {{ end -}}
    </ul>
    <div class="total-price" hx-get="/{{ .LangTag }}/shopping_cart/total" hx-trigger="reload-price from:#checkout-box">{{ .TotalText }}</div>
    <a href="#" class="to-payment">{{ .ToPaymentText }}</a>
</div>
{{ end }}

{{ define "checkoutItem" }}
<li x-data="{ count: {{ .Quantity }}, price: {{ printf "%.2f" .Price }}, max: {{ .Max }} }">
    <form hx-post="/{{ .LangTag }}/checkout/{{ .ID }}" hx-target="closest li" hx-swap="outerHTML"
    hx-trigger="submit, change throttle:300ms">
        <input type="hidden" id="price" name="price" x-model="price" value="{{ printf "%.2f" .Price }}">
        <input type="hidden" id="max" name="max" x-model="max" value="{{ .Max }}">
        <input type="number" id="quantity" name="quantity" min="1" 
        :max="max" max="{{ .Max }}" x-model="count" value="{{ .Quantity}}">
    </form>
    <img src="{{ .ImageURL }}">
    <span class="product-name">{{ .Name }}</span>
    <span class="product-price" x-text="'€'+(count*price).toFixed(2)">€{{ printf "%.2f" .TotalPrice }}</span>
</li>
{{ end }}