<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{define "footer"}}
<footer>
    <div class="footer-column">
        <img src="img/logo.png">
    </div>
    <div class="footer-column">
        <a>Связаться с нами<a>
        <a>Политика конфиденциальности<a>
        <a>О нас</a>
    </div>
    <div class="footer-column">
        <a>Ответы на вопросы</a>
        <a>Помощь</a>
        <a>Я - фермер! Хочу сотрудничать</a>
    </div>
</footer>
{{end}}