<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .PageTitle }}</title>
    {{ with .PageDescription }}<meta name="description" content="{{ . }}" key="description" />{{ end }}
    <link rel="stylesheet" href="{{ .AssetsServer }}/styles/product.css"/>
    <link rel="stylesheet" href="{{ .AssetsServer }}/styles/style.css"/>
    <link rel="stylesheet" href="{{ .AssetsServer }}/styles/location.css"/>
    <link rel="stylesheet" href="{{ .AssetsServer }}/styles/login.css"/>
    <link rel="stylesheet" href="{{ .AssetsServer }}/styles/checkout.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://kit.fontawesome.com/2be5b34129.js" crossorigin="anonymous"></script>
    <script src="{{ .AssetsServer }}/htmx.js"></script>
    <script src="{{ .AssetsServer }}/restored.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/alpine-morph.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body hx-boost="true" hx-ext="restored" hx-trigger="restored">
      {{ template "content" . }}
  </body>
</html>

{{ define "content-slim" }}
<main id="app" style="display: contents;">
  {{ template "content" . }}
</main>
{{ end }}


