<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "content" }}
<div id="content">
    {{ template "locationPage" . }}
</div>
<div id="overlay" display="contents"></div>
{{ end }}

{{ define "locationOverlay" }}
<div id="overlay-wrapper">
    {{ template "locationPage" . }}
</div>
{{ end }}

{{ define "locationPage" }}
<div id="location-box"  x-data='{ show_submit: {{ .ShowSubmit }}, lon: {{ .Lon }}, lat: {{ .Lat }}, key: "{{ .Key }}" , address_text: "{{ .AddressText }}" }'
{{ if .Overlay }}@click.outside="history.back()" @go-back="history.back()"{{ end }}>
    <div class="header">
        <h1>{{ .Title }}</h1>
        <div id="address-box">
            {{ template "locationInputForm" . }}
            {{ template "locationSuggestions" . }}
        </div>
    </div>
        <div id="map"
        x-data="{
            map: null,
            marker: null,
        }"
        x-init='map = L.map("map").setView([lat, lon], 13);
                isRetina = L.Browser.retina;
                baseURL = "https://maps.geoapify.com/v1/tile/klokantech-basic/{z}/{x}/{y}.png?apiKey=d010b41f03bb4d7cb0f052415b1d2435"
                retinaURL = "https://maps.geoapify.com/v1/tile/klokantech-basic/{z}/{x}/{y}@2x.png?apiKey=d010b41f03bb4d7cb0f052415b1d2435"
                L.tileLayer(isRetina ? retinaURL : baseURL , {
                    maxZoom: 19,
                    attribution: "Powered by <a href=\"https://www.geoapify.com/\" target=\"_blank\">Geoapify</a> | <a href=\"https://openmaptiles.org/\" target=\"_blank\">© OpenMapTiles</a> <a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">© OpenStreetMap</a> contributors",
                }).addTo(map);

                if (key != "") {
                    marker = L.marker([lat, lon]).addTo(map);
                }
                $watch("lon, lat", () => {
                map.setView([lat, lon], 13);
                if (marker == null) {
                    marker = L.marker([lat, lon]).addTo(map);
                } else {
                    marker.setLatLng([lat, lon]);
                }
              });'></div>
    </div>
{{ end }}

{{ define "locationInputForm" }}
<form>
    <input
        type="text"
        name="address"
        placeholder="Address"
        x-model="address_text"
        x-on:keyup="show_submit = false"
        hx-get="/{{ .LangTag }}/location/suggestions"
        hx-swap="outerHTML"
        hx-target="#address-box .suggestions"
        hx-trigger="keyup changed delay:300ms">
    <input type="hidden" name="lon" x-model="lon">
    <input type="hidden" name="lat" x-model="lat">
    <input type="hidden" name="key" x-model="key">
    <button type="submit" x-bind:disabled="!show_submit" hx-post="{{ .SubmitURL }}" hx-swap="none">{{ .SubmitText }}</button>
</form>
{{ end }}

{{ define "locationSuggestions" }}
    <div class="suggestions">
    {{- range .Suggestions }}
        <a class="suggestion" @click='show_submit=true; lon={{ .Lon }}; lat={{ .Lat }}; key="{{ .Key }}"; address_text="{{ .AddressText }}"'>{{ .AddressText }}</a>
    {{- end }}
    </div>
{{ end }}