<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "content" }}
<div id="content">
    {{ template "loginPage" . }}
</div>
<div id="overlay" display="contents"></div>
{{ end }}

{{ define "loginOverlay" }}
<div id="overlay-wrapper">
    {{ template "loginPage" . }}
</div>
{{ end }}

{{ define "loginPage" }}
<div id="login-box">
    {{ if .Overlay -}}
    <button class="close-button" @click="history.back()">
        <i class="fa-solid fa-xmark"></i>
    </button>
    {{ else -}}
    <a href="/{{ .LangTag }}/suppliers" style="display: contents;">
        <button class="close-button">
            <i class="fa-solid fa-xmark"></i>
        </button>
        </a>
    {{ end -}}
    <h1>Login or register to proceed to the order</h1>
    {{ template "loginForm" . }}
    <div class="footer">By continuing, you agree with our privacy policy, usage condition and terms of agreement</div>
    <div class="bottom-anchor"></div>
</div>
{{ end }}

{{ define "loginForm" }}
<form method="post" hx-post="{{ .ProcessLink }}" hx-swap="outerHTML" hx-trigger="submit">
    <input type="email" name="email" placeholder="{{ .EmailPlaceholder }}" required>
    <input type="submit" value="{{ .ContinueText }}">
</form>
{{ end }}

{{ define "passcodeForm" }}
<form method="post" hx-post="{{ .ProcessLink }}" hx-swap="outerHTML" hx-trigger="submit">
    <input type="hidden" name="email" value="{{ .Email }}">
    <input type="text" name="passcode" placeholder="{{ .PasscodeText }}" required>
    <input type="submit" value="{{ .ContinueText }}">
    {{ with .ErrorMessage }}<label class="error">{{ . }}</label>{{ end }}
</form>
{{ end }}