<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "shoppingCart" }}
{{ $LangTag := .LangTag }}
{{ if not .Partial }}<div id="shopping-cart-wrapper" :class="{'show-mobile': showCartMobile}">{{ end }}
<div id="shopping-cart"
     hx-get="/{{ .LangTag }}/shopping_cart"
     hx-headers='{"Request-Location": "shopping_cart"}'
     hx-swap="outerHTML"  hx-ext="restored"
     hx-trigger="restored from:body, cart-update from:body throttle:500ms"
     hx-target="#shopping-cart">
  <div class="delivery-address">
    <div><h1>{{ .AddressTitle }}</h1><button class="close-button" @click="showCartMobile=false"><i class="fa-solid fa-xmark" style="color: #000000;"></i></button></div>
    <a class="address" href="/{{ .LangTag }}/location" hx-get="/{{ .LangTag }}/location?overlay=true" hx-push-url="/{{ .LangTag }}/location" hx-swap="outerHTML" hx-target="#overlay"
    >{{ .AddressText }}<i class="fa-solid fa-chevron-down"></i></a>
  </div>
  {{ if .SuppliersItems }}
  {{- range $key, $value := .SuppliersItems }}
  <div class="supplier {{ $key }}">
    {{ with $value -}}
    <div class="supplier-header">
      <a href="{{ $value.SupplierURL }}" hx-target="body"><h1>{{ .Name }}</h1></a>
    </div>
    {{- end}}
    {{- range $idx, $item := $value.Items }}
    {{- if ne $idx 0 }}
    <hr>{{- end }}
    <div class="item">
      <img src="{{ $item.ImageURL }}">
      <div class="center">
        <h1>{{ $item.Name }}</h1>
        <span class="description">{{ $item.UnitText }}</span>
        <form class="quantity-box"
        x-data="{ count: {{ $item.Quantity }} }"
        hx-trigger="change delay:200ms"
        hx-target="#shopping-cart"
        hx-swap="outerHTML"
        hx-post="/{{ $LangTag }}/shopping_cart/{{ $item.ID }}?render_cart=true">
        <button type="button" @click="if(count>0)count--; $dispatch('change')" :class="{'inactive': count == 0}">&minus;</button>
        <input type="hidden" name="quantity" x-model="count" value="{{ $item.Quantity }}"/>
        <span class="quantity-text" x-text="count">{{ $item.Quantity }}</span>
        <button type="button" @click="count++; $dispatch('change')">&plus;</button>
      </form>
      </div>
      <div class="right">
        <button hx-delete="/{{ $LangTag }}/shopping_cart/{{ $item.ID }}" hx-target="#shopping-cart-wrapper" hx-swap="innerHTML"><i class="fa-solid fa-xmark" style="color: #000000;"></i></button>
        <span class="price">{{ $item.PriceText }}</span>
      </div>
    </div>
    {{- end }}
  </div>
  {{- end }}
  <div class="cart-total"><a class="checkout-button" href="/{{ .LangTag }}/checkout" hx-get="/{{ .LangTag }}/checkout?overlay=true" hx-target="#overlay">{{ .CheckoutText }}</a><span class="total-price">{{ .TotalPriceText }}</span></div>
  {{ else }}
  <div class="empty-wrapper">
    <img src="{{ .EmptyLogoURL }}">
    <h1>{{ .EmptyCartTitle }}</h1>
    <p>{{ .EmptyCartText }}</p>
  </div>
  {{ end }}
</div>
{{ if not .Partial }}</div>{{ end }}
{{ end }}

{{ define "shoppingCartSingle" }}
{{ $LangTag := .LangTag }}
{{ $SupplierIDEncoded := .SupplierIDEncoded }}
{{ if not .Partial }}<div id="shopping-cart-wrapper" :class="{'show-mobile': showCartMobile}">{{ end }}
<div id="shopping-cart" hx-get="/{{ .LangTag }}/shopping_cart?supplier={{ .SupplierIDEncoded }}" hx-headers='{"Request-Location": "shopping_cart"}' hx-swap="outerHTML" hx-trigger="restored from:body, cart-update from:body throttle:500ms" hx-target="#shopping-cart">
  <div class="delivery-address">
    <div><h1>{{ .AddressTitle }}</h1><button class="close-button" @click="showCartMobile=false"><i class="fa-solid fa-xmark" style="color: #000000;"></i></button></div>
    <a class="address" href="/{{ .LangTag }}/location" hx-get="/{{ .LangTag }}/location?overlay=true" hx-push-url="/{{ .LangTag }}/location" hx-swap="outerHTML" hx-target="#overlay"
    >{{ .AddressText }}<i class="fa-solid fa-chevron-down"></i></a>
  </div>
  {{ if .Items }}
  <div class="supplier {{ .SupplierIDEncoded }}">
    <div class="supplier-header">
      <img src="{{ .ImageURL }}">
      <h1>{{ .SupplierName }}</h1>
    </div>
    {{- range $idx, $item := .Items }}
    {{- if ne $idx 0 }}
    <hr>{{- end }}
    <div class="item">
      <img src="{{ $item.ImageURL }}">
      <div class="center">
        <h1>{{ $item.Name }}</h1>
        <span class="description">{{ $item.UnitText }}</span>
        <form class="quantity-box"
          x-data="{ count: {{ $item.Quantity }} }"
          hx-trigger="change delay:100ms"
          hx-target="#shopping-cart"
          hx-swap="outerHTML"
          hx-post="/{{ $LangTag }}/shopping_cart/{{ $item.ID }}?render_cart=true&supplier={{ $.SupplierIDEncoded }}">
          <button type="button" @click="if(count>0)count--; $dispatch('change')" :class="{'inactive': count == 0}">&minus;</button>
          <input type="hidden" name="quantity" x-model="count" value="{{ $item.Quantity }}"/>
          <span class="quantity-text" x-text="count">{{ $item.Quantity }}</span>
          <button type="button" @click="count++; $dispatch('change')">&plus;</button>
        </form>
      </div>
      <div class="right">
        <button hx-delete="/{{ $LangTag }}/shopping_cart/{{ $item.ID }}?supplier={{ $.SupplierIDEncoded }}" hx-target="#shopping-cart-wrapper" hx-swap="innerHTML"><i class="fa-solid fa-xmark" style="color: #000000;"></i></button>
        <span class="price">{{ $item.PriceText }}</span>
      </div>
    </div>
    {{- end }}
    <div class="supplier-footer" hx-target="body" >
      <a class="to-supplier" href="/{{.LangTag }}/checkout" hx-target="#overlay" hx-swap="outerHTML" hx-get="/{{.LangTag }}/checkout?overlay=true" hx-push-url="/{{.LangTag }}/checkout">{{ .OrderText }}</a>
      <span class="total-price">{{ .TotalText }} {{ printf "%.2f" .Total }}€</span>
    </div>
  </div>
  {{ else }}
  <div class="empty-wrapper">
    <img src="{{ .EmptyLogoURL }}">
    <h1>{{ .EmptyCartTitle }}</h1>
    <p>{{ .EmptyCartText }}</p>
  </div>
  {{ end }}
</div>
{{ if not .Partial }}</div>{{ end }}
{{ end }}

{{ define "shoppingCartButton" }}
<button id="cart-button" @click="showCartMobile=true">
  <i class="fa-solid fa-cart-shopping" style="color:white;"></i>
  <span class="cart-price">{{ printf "%.2f" . }}€</span>
</button>
{{ end }}

{{ define "shoppingCartButtonStandalone" }}
<button id="cart-button" @click="showCartMobile=true" hx-swap-oob="true">
  <i class="fa-solid fa-cart-shopping" style="color:white;"></i>
  <span class="cart-price">{{ printf "%.2f" . }}€</span>
</button>
{{ end }}

{{ define "shoppingCartTotal" }}
<span class="total-price">{{ . }}</span>
{{ end }}

{{ define "shoppingCartTotalInner" }}
{{ . }}
{{ end }}



