<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "content" -}}
<div id="suppliers-content" x-data="{showCartMobile: false}">
    <div id="side">
    <a id="logo-box" href="/">
        <img src="{{ .LogoURL }}" alt="{{ .LogoAlt }}">
    </a>
    {{ template "categories-list" .Categories }}
    </div>
    {{- /* ---- Center ---- */ -}}
    <div id="center">
      {{- if .ShowBanner -}}
      <div id ="center-banner">
        <a id="center-text-banner" href="{{ .BannerURL }}">
          {{ .BannerText }}
          <span class="banner-button"><i class="fa-solid fa-chevron-right"></i></span>
        </a>
          <button class="close-button" hx-post="/{{ .LangTag }}/close_banner" hx-trigger="click" hx-target="#center-banner" hx-swap="outerHTML">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      {{ end -}}
    {{ with .CategoryText }}
    <div class="center-box categories-header">
        <a href="{{ .URL }}"><i class="fa-solid fa-arrow-left"></i></a>
        <span class="text">{{ .Text }}</span>
    </div>
    {{ end }}

    {{ range .Suppliers }}
        {{template "supplier" .}}
    {{ end }}
    </div>
    {{ template "shoppingCart" .ShoppingCart }}
    {{ template "shoppingCartButton" .Total }}
</div>
<div id="overlay" display="contents"></div>
{{ end }}

{{ define "supplier" }}
<div class="center-box"  hx-headers='{"Request-Location": "suppliers"}'>
    <div class="supplier-header">
      <a href="{{ .URL }}"><img src="{{ .ImageURL }}"></a>
      <div class="supplier-header-text">
        <a href="{{ .URL }}"><h1>{{ .Name }}</h1></a>
        {{ if .DescriptionBullets -}}
        <div class="supplier-header-text-description">
        {{- range .DescriptionBullets }}
          <p>{{ . }}</p>
        {{- end }}
        </div>
        {{ end }}
      </div>
      <a href="{{ .URL }}" class="supplier-link"><i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="supplier-categories">
        {{- range .Categories }}
        <p>{{ . }}</p>
        {{- end }}
    </div>
    <div class="supplier-items">
        {{- range .Items }}
        {{ template "supplier-item" . }}
        {{- end }}
    </div>
</div>
{{ end }}

{{ define "supplier-item" }}
<div class="supplier-item id-{{.ID }}"
  {{ if .SwapOOB }}hx-swap-oob="outerHTML:.supplier-item.id-{{ .ID }}"{{ end }}
  x-data="{ count: {{ .Quantity }}, max: {{ .Stock }}, price: {{ .Price }} }">
  <a href="{{ .URL }}" style="display: contents;"
    hx-get="{{ .OverlayURL }}" hx-target="#overlay" hx-push-url="{{ .URL }}">
  <div class="img-container">
    <img src="{{ .ImageURL }}">
    <div class="quantity-box" x-show="count > 0"><span class="quantity-text" x-text="count">{{ .Quantity }}</span></div>
  </div>
  </a>
  <h1>{{ .Title }}</h1>
  <p>{{ .Description }}</p>
  {{ template "price-box" . }}
</div>
{{ end}}