<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "content" -}}
<div id="suppliers-content" x-data="{showCartMobile: false}">
  <div id="side">
    <a id="logo-box" href="/">
      <img src="{{ .LogoURL }}" alt="{{ .LogoAlt }}">
    </a>
    {{ template "categories-list" .Categories }}
  </div>
  {{- /* ---- Center ---- */ -}}
  <div id="center">
    {{- if .ShowBanner -}}
    <div id ="center-banner">
      <a id="center-text-banner" href="{{ .BannerURL }}">
        {{ .BannerText }}
        <span class="banner-button"><i class="fa-solid fa-chevron-right"></i></span>
      </a>
        <button class="close-button" hx-post="/{{ .LangTag }}/close_banner" hx-trigger="click" hx-target="#center-banner" hx-swap="outerHTML">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    {{ end -}}
    {{- with .Supplier }}
    <div class="center-box supplier-box-full" hx-headers='{"Request-Location": "suppliers"}'>
      <div class="nav-links">
      {{ range $key, $value := .NavLinks -}}
        {{ if ne $key 0 }}<i class="fa-solid fa-chevron-right"></i>{{ end -}}
        {{ if $value.URL }}<a href="{{ $value.URL }}">{{ $value.Text }}</a>{{ else }}<span>{{ $value.Text }}</span>{{ end }}
      {{- end -}}
      </div>
      <div class="supplier-header">
        <img src="{{ .ImageURL }}">
        <div class="supplier-header-text">
          <h1>{{ .Name }}</h1>
          {{ if .DescriptionBullets -}}
          <div class="supplier-header-text-description">
            {{- range .DescriptionBullets }}
            <p>{{ . }}</p>
            {{- end }}
          </div>
          {{ end }}
          <div class="supplier-categories">
            {{- range .Categories }}
            <p>{{ . }}</p>
            {{- end }}
          </div>
        </div>
      </div>
      <div class="supplier-items">
        {{- range .Items }}
        {{ template "supplier-item" . }}
        {{- end }}
      </div>
    </div>
    {{ end -}}
    {{ template "shoppingCartButton" .Total }}
  </div>
  {{ template "shoppingCart" .ShoppingCart }}
</div>
<div id="overlay" display="contents"></div>
{{ end }}