<!-- 
  Marketplace application; web frontend 
  Copyright (C) 2023  Mikhail Kovalev

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{{ define "categories-list" }}
<ol id="categories">
    {{- range . }}
        {{ template "category" . }}
    {{- end }}
</ol>
{{ end }}

{{ define "category" }}
<li class="category {{ .ID }}{{ if .Dim }} dim{{ end }}">
    <a href="{{ .URL }}" style="display: contents;">
        <img src="{{ .ImageURL }}" alt="{{ .Name }}">
        <div class="category-text">{{ .Name }}</div>
    </a>
</li>
{{ end }}