/*  Marketplace application; Website templates and styles
	Copyright (C) 2023  Mikhail Kovalev

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>. */

#checkout-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: white;
    padding: 1.5rem;
    margin: auto;
    border-radius: 2rem;
    max-width: 40rem;
    width: calc(100% - 4rem - 2.5rem);
    max-height: calc(100vh - 4rem - 2.5rem);
    overflow-y: auto;
}

#checkout-box .close-button {
    font-size: 1.5rem;
    border: none;
    padding: 0px 0.5rem;
    background: none;
    color: black;
}

#checkout-box .close-button:hover {
    cursor: pointer;
    color: red;
}

#checkout-box #checkout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#checkout-header h1 {
    margin: 0px;
}

#checkout-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0px;
}

#checkout-items li {
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    gap: 2rem;
}

#checkout-items li input {
    width: 5rem;
    height: 2.25rem; 
    border-radius: 1.5rem;
    border: 1px solid #D9D9D9; 
    background: #FFF; 
    font-size: 1.5rem; 
    font-style: normal;
    font-weight: 700; 
    color: #5B5B5B;
    padding: 0 1rem;
}

#checkout-items li img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.375rem; 
}

#checkout-items li .product-name {
    flex-grow: 1;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700; 
    color: #5B5B5B;
}

#checkout-items li .product-price {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700; 
    color: #5B5B5B;
}

#checkout-box .total-price {
    align-self: flex-end;
    color: #96B44B; 
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700; 
}

#checkout-box .to-payment {
    align-self: stretch;
    margin: 0px;

    border-radius: 3.125rem;
    background: #96B44B;

    color: #FFF;
    text-align: center; 
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700; 
    text-decoration: none;
    padding: 1.25rem 0px;
}