/*  Marketplace application; Website templates and styles
	Copyright (C) 2023  Mikhail Kovalev

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>. */

#location-box {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: white;
    padding: 2rem;
    margin: auto;
    border-radius: 2rem;
    max-width: 61.375rem;
    width: calc(100% - 2.5rem);
    max-height: 50rem;
    height: calc(100vh - 2.5rem);

    overflow-y: auto;
}

#location-box .header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#location-box .header h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0px;
}

#location-box .header #address-box {
    position: relative;
    display: inline-block;
}

#location-box .header form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#location-box .header form input[type="text"] {
    color: #000; 
    font-size: 1.25rem; 
    font-style: normal; 
    font-weight: 500; 
    letter-spacing: -0.0375rem; 
    padding: 0.75rem 1.75rem;
    border-radius: 1.875rem; 
    border: 1px solid #D9D9D9; 
}

#location-box .header form button {
    border-radius: 3.125rem;
    background: #96B44B; 
    border: none;
    padding: 0.75rem 3.5rem;

    color: #FFF;
    text-align: center; 
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700; 
}

#location-box .header form button:disabled {
    background: #D9D9D9;
}

#location-box .header form button:disabled:hover {
    cursor: not-allowed;
}

#location-box .header form input {
    width: 100%;
}

#location-box .header .suggestions a {
    display: block;
}

#location-box .center {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#location-box #map {
    border-radius: 2rem;
    margin-bottom: 0px;
    flex-grow: 1;
}

/* #location-box .center #map::before {
    content: "";
    display: block;
    padding-top: 100%;
} */

#location-box .center .info {
    width: 18.875rem;
}

#location-box .center .info h1 {
    color: #5b5b5b;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500; 
    margin: 0px;
}

#location-box .center .info p {
    color: #949494; 
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500; 
}

#location-box .center .info ul {
    color: #949494; 
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500; 

    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 960px) {
    #location-box .center {
        flex-direction: column;
        gap: 2.5rem;
    }

    #location-box .center #map {
        width: 100%;
    }

    #location-box .center .info {
        width: 100%;
    }
}