/*  Marketplace application; Website templates and styles
	Copyright (C) 2023  Mikhail Kovalev

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>. */

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-color: white;
    padding: 3rem;
    margin: auto;
    border-radius: 2rem;
    max-width: 45rem;
    max-height: 27rem;
    width: calc(100% - 2.5rem);
    height: calc(100vh - 2.5rem);
    overflow-y: auto;
    padding: 2.5rem 6.75rem;
    box-sizing: border-box;
    position: relative;
}

#login-box .close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

#login-box h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700; 
    text-align: center;
}

#login-box form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700; 
}

#login-box form input {
    padding: 1rem 1.5rem;
    flex-grow: 1;
    border-radius: 1.875rem;
    border: 1px solid #000;
    background: #FFF; 
    font-size: 1.125rem;
    font-weight: 700; 

    font-style: normal;
    font-weight: 500; 
    color: #D9D9D9; 
}

#login-box form input::placeholder {
    color: #D9D9D9;
}

#login-box form input[type=submit] {
    flex-grow: unset;
    color: #FFF; 
    background: #96B44B; 
    border: none;
}

#login-box .footer {
    color: #D9D9D9; 
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500; 
}

#login-box .footer a {
    color: inherit;
}

@media (max-width: 480px) {
    #login-box {
        gap: 1.75rem;
        padding: 1.125rem;
    }

    #login-box h1 {
        font-size: 1.5rem;
    }

    #login-box form {
        font-size: 0.75rem;
        font-weight: 500; 
    }

    #login-box form input {
        font-size: 0.75rem;
    }

    #login-box .footer {
        font-size: 0.75em;
        font-style: normal;
        font-weight: 500; 
    }
}