/*  Marketplace application; Website templates and styles
	Copyright (C) 2023  Mikhail Kovalev

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>. */

.product-card {
    flex-grow: 1;
    max-width: 62rem;
    margin: 1.25rem;

    padding: 2.25rem;

    display: grid;
    grid-template-columns: 1fr 21.5rem;
    grid-template-rows: 1;

    background-color: #ffffff;
    border-radius: 1.5rem;
    max-height: calc(100vh - 3rem);
    overflow-y: scroll;
}

.product-card-wrapper {
    border-radius: 1.5rem;

    grid-row: 1 / span 1;

    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 21.5rem;
    column-gap: 1.75rem;
    margin: -2.25rem;
    padding: 2.25rem;
}

.product-card .left-column {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.product-card .description {
    color: #5B5B5B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.product-card .description .product-bullet-points {
    margin-bottom: 0px;
}

.product-card .right-column {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding-bottom: 4rem;
}

.product-card h1 {
    order: -1;
    margin: 0px;
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
}

.product-card h3 {
    margin: 0px;

    color: #D9D9D9;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.product-card .product-quantity {
    color: #5B5B5B;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    order: -1;
}

.product-card hr {
    margin: -0.75rem 0px;
    color: #D9D9D9;
}

.product-card img {
    max-width: 100%;
    border-radius: 1.875rem;

    order: -3;
}

.product-card .details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 1rem;
}

.product-card .detail {
    display: grid;
    gap: 0.375rem;
}

.product-card .details p {
    margin: 0px;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.product-nutritional-values {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-nutritional-values ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3.25rem, 1fr));
}

.product-nutritional-values b {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    letter-spacing: -0.72px;
}

.product-nutritional-values div {
    color: #949494;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.48px;
}

.product-card .product-price {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: end;
    justify-self: stretch;
    z-index: 2;

    margin-top: auto;

    padding: 1rem 0px;
    display: grid;
    height: 3.5rem;
    justify-items: center;
    border-radius: 1.75rem;
    background-color: #F2F2F2;
    grid-template-columns: [minus] 1fr [text] 8.875rem [plus] 1fr;

    color: #96B44B;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    align-items: center;
}



.product-card .product-price .plus-button {
    grid-area: plus;
    justify-self: start;
}

.product-card .product-price .price {
    grid-area: text;
}

.product-card .product-price .minus-button {
    grid-area: minus;
    justify-self: end;
}

.product-card .product-price.highlight {
    background-color: #96B44B;
    color: #fff;
}

.product-card .product-price svg {
    align-self: center;
    margin: 0px 15px 0px 0px;
    width: 16px;
    height: 16px;
    stroke-width: 3px;
    stroke: #FFF;
}

.product-card .close-button {
    margin: -0.75rem -0.75rem auto auto;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    align-self: start;

    z-index: 2;
    order: -4;
}

.close-button {
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    border: none;
    font-size: 1.5rem;
    color: #000;   
    background: none;
}

.close-button:hover {
    cursor: pointer;
    color: #E83002;
}

@media (max-width: 960px) {
    .product-card {
        grid-template-columns: 1fr;
        padding: 2rem;
    }

    .product-card .product-price {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .product-card .close-button {
        margin: -1.5rem -1.5rem auto auto;
        grid-column: 1 / span 1;
    }

    .product-card .left-column {
        display: contents;
    }

    .product-card .right-column {
        display: contents;
    }

    .product-card h1 {
        margin-top: 0.5rem;
        font-size: 1.25rem;
    }

    .product-card .product-quantity {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
    }

    .product-card-wrapper {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        grid-template-columns: unset;
        column-gap: unset;
        margin: -2rem;
        padding: 2.5rem;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 400px) {
    .product-card .details {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}