/*  Marketplace application; Website templates and styles
	Copyright (C) 2023  Mikhail Kovalev

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>. */

@font-face {
    font-family:"Manrope";
    src: url("https://storage.example.com/Manrope-VariableFont_wght.ttf") format("truetype");
  }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  

body {
    top: 0;

    background: #F2F2F2;
    margin: 0;
    font-family: "Manrope", sans-serif;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100vh;
    background-size: cover;
}

#content {
    margin: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    min-height: 100vh;
    overflow-y: auto;
}

#suppliers-content {
    margin: 0px;
    padding: 0px 1.25rem;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    min-height: calc(100vh - 2.5rem);
    overflow-y: scroll;
}

#overlay-wrapper {
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
}

#side {
    position: sticky;
    top: 0px;
    max-height: 100vh;

    width: 17rem;
    min-width: 17rem;

    margin: 0px;
    columns: 1;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

#logo-box {
    height: 7rem;
    flex-shrink: 0;
    border-radius: 0px 0px 30px 30px;
    background: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-box img {
    height: 3.75rem;
    flex-shrink: 0;
}

#categories {
    flex-shrink: 0;
    margin: 0px;

    border-radius: 1.5rem;
    background: #FFF;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
    justify-content: space-between;

    overflow-x: auto;
    max-height: calc(100vh - 7rem - 3rem);
}

.category {
    gap: 1.25rem;
    columns: 2;
    display: flex;
    align-items: center;
}

.category img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.375rem; 
}

.category-text {
    color: #5B5B5B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.dim .category-text {
    color: #D9D9D9; 
}

#center {
    flex-grow: 1;
    max-width: 75rem;
    min-width: 0px;
    gap: 1.25rem;
    margin: 2.25rem 0px 1.25rem;
    display: flex;
    flex-direction: column;

    /* max-width: calc(100vw - 310px - 26px - 26px - 400px - 30px - 30px) */
}

#center-banner {
    position: sticky;
    top: 0px;
    padding: 0px 2rem;

    height: 4.75rem;
    border-radius: 30px;
    background: #FFF;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 26px; */
}

#center-text-banner {
    margin-left: 22px;

    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.6px;
    text-decoration: none;
    gap: 1.5rem;
    display: flex;
}

#center-banner .close-button {
    color: #d9d9d9;
}

#center-banner .close-button:hover {
    color: #E83002;
}

#center-text-banner .banner-button {
    color: #d9d9d9;
}

#center-search-box {
    border-radius: 50px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0px;

    color: #949494;
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 45px */
    letter-spacing: -0.6px;
}

#center-search-box svg {
    margin: 1.5rem 2.25rem;
}

.center-box.categories-header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 1.5rem;
    border: 0px;
}

.center-box.categories-header a {
    height: 3rem;
    width: 4.75rem;
    background-color: #F2F2F2;
    color: #5B5B5B;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
}

.center-box.categories-header .text {
    color: #5B5B5B;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

.arrow-button {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #949494;
    background: none;
    border: none;
    display: block;
}

.arrow-button:hover {
    cursor: pointer;
    color: #96B44B;
}

.center-box {
    background-color: #FFF;
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5rem;
    border-color: #FFF;
    gap: 1.5rem;

    display: flex;
    flex-direction: column;
}

    .supplier-box-full .supplier-header {
        margin-top: 2rem;
    }

.supplier-header {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 2rem;
}

.supplier-header .supplier-link {
    font-size: 1.5rem;
    color: #949494;
}

/* .supplier-header .arrow-button {
    margin-left: auto;
} */

.supplier-header img {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
}

.supplier-box-full {
    gap: 1.5rem;
}

.supplier-box-full .nav-links {
    display: flex;
    gap: 1rem;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500; 
    color: #D9D9D9;
    flex-wrap: wrap;
}

.supplier-box-full .nav-links a {
    text-decoration: none;
    color: inherit;
}

.supplier-box-full .supplier-header img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.supplier-box-full .supplier-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    align-self: stretch;
}

.supplier-header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-self: stretch;
}

.supplier-header-text a {
    text-decoration: none;
    color: inherit;
}

.supplier-header-text h1 {
    margin: 0px;

    color: #5B5B5B;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

.supplier-header-text-description {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.supplier-header-text-description p {
    color: #949494;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin: 0px;
}

.supplier-categories {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.supplier-categories p {
    background: #F2F2F2;
    border-color: #F2F2F2;
    padding: 1.125rem 2rem;
    border-radius: 1.75rem; 
    margin: 0px;

    color: #5B5B5B;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
}

.supplier-box-full .supplier-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    overflow-y: unset;
}

.supplier-box-full .supplier-item {
    width: unset;
    min-width: unset;
}

.supplier-items {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    overflow-x: auto;
}

.supplier-item {
    width: 13.125rem;
    min-width: 13.125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.supplier-item:hover {
    cursor: pointer;
}

.supplier-item .img-container {
    /* height: 13.125rem; */
    position: relative;
    text-align: center;
    display: grid;
    border-radius: 1.5rem; 
}

.supplier-item .img-container img {
    grid-area: 1/2 / 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.supplier-item .img-container .quantity-box {
    grid-area: 1/2 / 1/2;
    background: rgba(91, 91, 91, 0.70); 
    border-radius: inherit;
    display: grid;
    place-content: center;
}

.supplier-item .img-container .quantity-text {
    color: #FFF;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
}

.supplier-item h1 {
    margin: 0.75rem 0px 0px;
    color: #5B5B5B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 42px */
    letter-spacing: -0.48px;
}

.supplier-item p {
    color: #949494;
    margin: 0px 0px 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 26px */
    letter-spacing: -0.48px;    
}

.product-price {
    -webkit-user-select: none;
    user-select: none;
}

.product-price button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
}

.supplier-item .product-price {
    margin-top: auto;
    border-radius: 30px;
    gap: 0.5rem;
    background: #F2F2F2;
    color: #96B44B;
    margin-right: auto;
    display: flex;
    padding: 0.25rem 0.5rem;
}

.supplier-item .product-price.highlight {
    background: #96B44B;
    color: #FFF;
}

.supplier-item .product-price p {
    margin: 0px 0.5rem 0px 0.75rem;
    color: #96B44B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 45px */
    letter-spacing: -0.54px;
    display: inline;
}

.supplier-item .product-price.highlight p {
    color: #FFF;
}

.supplier-item .product-price svg {
    align-self: center;
    margin: 0px 15px 0px 0px;
    width: 16px;
    height: 16px;
    stroke-width: 3px;
    stroke: #96B44B;
}

footer {
    margin: 20px 322px 20px 258px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: #949494;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    letter-spacing: -0.9px;
}

#shopping-cart-wrapper {
    position: sticky;
    top: 2.25rem;
    margin: 2.25rem 0px 1.25rem;
}

#shopping-cart {
    width: 26.5rem;
    height: 795x;
    max-height: calc(100vh - 4rem);
    border-radius: 30px;

    background: #FFF;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

    overflow-x: auto;
}

#shopping-cart .delivery-address div {
    display: flex;
    justify-content: space-between;
}

#shopping-cart .delivery-address h1 {
    color:#5B5B5B;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}

#shopping-cart .delivery-address .close-button {
    display: none;
}

#shopping-cart .delivery-address .address {
    color: #D9D9D9;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

#shopping-cart .supplier {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#shopping-cart .supplier-header a {
    text-decoration: none;
}

#shopping-cart .supplier-header h1 {
    color: #5B5B5B;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    letter-spacing: -0.72px;
    margin: 0px;
}

#shopping-cart .supplier-header img {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 1.125rem;
}

#shopping-cart .item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#shopping-cart .item img {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 10px;
}

#shopping-cart .item .center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#shopping-cart .item .center h1 {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.48px;
    margin: 0px;
}

#shopping-cart .item .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#shopping-cart .item .quantity-box {
    color: #96B44B;
    background-color: #F2F2F2;
    margin-right: auto;
    padding: 0.5rem;
    border-radius: 24px;
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: auto;
}

#shopping-cart .item .quantity-box input {
    width: 2rem;
    background: none;
    border: none;
}

#shopping-cart .item .center .description {
    color: #949494;
    font-weight: 600;
}

#shopping-cart hr {
    margin: -0.75rem 0px;
    border: 0;
    height: 0.125rem;
    background: #D9D9D9;
}

#shopping-cart .item .price {
    align-self: flex-end;
    color: #96B44B;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%; /* 27px */
}

#shopping-cart .item button {
    border: none;
    background: none;
    color: inherit;
}

#shopping-cart .item button:hover {
    cursor: pointer;
}

.inactive {
    cursor: not-allowed !important;
    color: #949494 !important;
}

#shopping-cart .to-supplier {
    color: #fff;
    background-color: #96B44B;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%; /* 27px */
    margin-right: auto;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
}

#shopping-cart .supplier-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#shopping-cart .cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


#shopping-cart .total-price {
    color: #96B44B;
    text-align: center;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 2.25rem */
    letter-spacing: -0.045rem; 
}


#shopping-cart .checkout-button {
    color: #fff;
    background-color: #96B44B;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%; /* 27px */
    margin-right: auto;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
}

/* #shopping-cart .cart-total {
    align-self: center;
    color: #5B5B5B;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
} */

#shopping-cart .empty-wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 16.25rem;

}

#shopping-cart .empty-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0.5;
}

#shopping-cart .empty-wrapper h1 {
    color: #5B5B5B;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 1.5rem */
    letter-spacing: -0.045rem; 
}

#shopping-cart .empty-wrapper p {
    color: #949494;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 1.2375rem */
    letter-spacing: -0.03375rem; 
}

#cart-button {
    display: none;
    border: none;
}

@keyframes slide-up {
    from {
      margin-top: 100%;
      height: 300%;
    }
    to {
      margin-top: 0%;
      height: 100%;
    }
}

@media (max-width: 1260px) {
    .supplier-item {
        width: 6.375rem;
        min-width: 6.375rem;
        font-size: 0.875rem;
    }

    .supplier-item .product-price {
        gap: 0.25rem;
        padding: 0.25rem;
    }

    .supplier-item .product-price p {
        font-size: 0.875rem;
        margin: 0px;
    }

    .supplier-item h1 {
        font-size: 0.75rem;
    }

    .supplier-item p {
        font-size: 0.75rem; 
    }

    .supplier-box-full .supplier-header img {
        width: 5.625rem;
        height: 5.625rem; 
        border-radius: 50%;
    }

    #suppliers-content {
        flex-direction: column;
        justify-content: flex-start;
        height: unset;
        align-items: stretch;
        padding: 1.25rem 0px;
    }

    #center-banner {
        order: -1;
        align-self: stretch;
        position: unset;
        margin: 0px 1.25rem;
    }

    #center {
        display: contents;
    }

    #side {
        display: contents;
    }

    #categories {
        background: none;
        border: none;
        border-radius: unset;

        flex-direction: row;
        flex-wrap: wrap;
        max-height: unset;
        justify-content: flex-start;
        gap: 0.5rem;
        margin: 0px 1.25rem;
        padding: 0px;
    }

    .center-box {
        margin: 0px 1.25rem;
        gap: 0.75rem;
        border-width: 1rem;
    }

    #categories .category {
        background-color: #FFF;
        border-radius: 1rem;
        padding: 0.5rem 2rem;
    }

    .category.dim {
        order: 1;
    }

    #categories .category img {
        display: none;
    }

    #logo-box {
        display: none;
    }

    #shopping-cart .delivery-address .close-button {
        display: inline;
    }

    #shopping-cart-wrapper {
        display: none;
        background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 2;
        align-items: flex-end;
        justify-content: center;
        top: 0px;
        left: 0px;
        margin: 0px;
    }

    #shopping-cart-wrapper.show-mobile {
        display: flex;
    }

    #shopping-cart {
        margin: 2.25rem 0px 0px;
        border-radius: 30px 30px 0px 0px;
        flex-grow: 1;
    }

    /* .show-mobile #shopping-cart {
        animation: 1s slide-up;
    } */

    #cart-button {
        display: flex;
        gap: 0.5rem;
        z-index: 1;
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        background: #E83002; 
        color: #fff;
        border-radius: 3.125rem; 
        padding: 0.75rem;
    }

    .supplier-box-full .supplier-header {
        margin-top: 0.75rem;
    }

    .supplier-box-full .supplier-items {
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    }

    .supplier-header h1 {
        font-size: 1.125rem; 
        font-weight: 700; 
    }

    .supplier-categories p {
        font-size: 0.75rem;
        padding: 0.75rem 1.25rem;
    }

    .supplier-header-text-description p {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500; 
    }

    .supplier-header .supplier-link {
        display: none;
    }

    .supplier-item .img-container .quantity-text {
        font-size: 1.5rem; 
        font-weight: 700; 
    }

    .supplier-box-full .nav-links {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500; 
    }
}